.progress-box, .results, #survey, #nextBtn, #viewResults {
  display: none;
}

.progress-box {
  margin-bottom: 50px;
}

.progress-bar {
  /*width: 20%*/;
}

.results {
  text-align: center;
}

.results h1 {
  margin-bottom: 50px;
  font-family: 'Press Start 2P', cursive;
}

.results h2 {
  margin: 30px 0 50px 0;
  font-family: 'Press Start 2P', cursive;
}

.results img {
  width: 70%;
}